include README.rst
include LICENSE
include scopesim_templates/defaults.yaml
include scopesim_templates/stellar/mamajek_alt.dat
graft scopesim_templates/micado/data/
graft scopesim_templates/micado/viking_fields/
prune scopesim_templates/tests*
prune *OLD_*