[project]
name = "ScopeSim_Templates"
# When updating the version, also add a date and release notes to version.py
version = "0.5.1-alpha"
description = "On-sky source templates for ScopeSim"
readme = "README.rst"
requires-python = ">=3.9"
license = {text = "License :: OSI Approved :: GNU General Public License v3 (GPLv3)"}
authors = [
    {name = "A* Vienna", email="astar.astro@univie.ac.at"},
]
maintainers = [
    {name = "Kieran Leschinski", email="kieran.leschinski@unive.ac.at"},
    {name = "Hugo Buddelmeijer", email="hugo@buddelmeijer.nl"},
]
classifiers=[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Astronomy",
]
dependencies = [
    "numpy>=1.19.5",
    "scipy>=1.10.0",
    "astropy>=5.0",
    "matplotlib>=3.2.0",

    "docutils>=0.15",
    "beautifulsoup4>=4.4",
    "lxml>=4.5.0",
    "pyyaml>=5.3",

    "synphot>=1.1.0",

    "scopesim>=0.7.0",
    "pyckles>=0.2",
    "spextra>=0.33",
]

[project.optional-dependencies]
dev = [
    "jupyter",
    "jupytext",
]
test = [
    "pytest",
    "pytest-cov",
    "skycalc_cli",
]
docs = [
    "sphinx>=4.3.0",
    "sphinx-rtd-theme>=0.5.1",
    "jupyter_sphinx==0.2.3",
    "sphinxcontrib-apidoc",
    "nbsphinx",
    "numpydoc",
]

[project.urls]
"Homepage" = "https://scopesim_templates.readthedocs.io/en/latest/"
"Source" = "https://github.com/AstarVienna/ScopeSim_Templates"
"Bug Reports" = "https://github.com/AstarVienna/ScopeSim_Templates/issues"

[tool.setuptools.packages]
find = {}
