[tool.poetry]
name = "ScopeSim_Templates"
version = "0.5.4a1"
description = "On-sky source templates for ScopeSim"
authors = ["Astar Vienna <astar.astro@univie.ac.at>"]
license = "GPL-3.0-or-later"
readme = "README.md"
maintainers = [
    "Kieran Leschinski <kieran.leschinski@unive.ac.at>",
    "Hugo Buddelmeijer <hugo@buddelmeijer.nl>",
    "Fabian Haberhauer <fabian.haberhauer@univie.ac.at>",
]
classifiers = [
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Astronomy",
]
repository = "https://github.com/AstarVienna/ScopeSim_Templates/"
documentation = "https://scopesim-templates.readthedocs.io/"

[tool.poetry.dependencies]
python = "^3.9"
numpy = "^1.26.3"
scipy = "^1.11.4"
astropy = "^5.3.4"
matplotlib = "^3.8.2"

docutils = "^0.19"
beautifulsoup4 = "^4.12.1"
lxml = "^4.9.3"
pyyaml = "^6.0.1"
synphot = "^1.3.post0"

scopesim = "^0.8.4"
pyckles = ">=0.3.0"
spextra = ">=0.40.0"
astar-utils = ">=0.2.2"  # Set to 0.3.0 when updating py310

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
jupyter = "^1.0"
jupytext = "^1.10.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.3"
pytest-cov = "^4.1.0"
skycalc_cli = "*"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^5.3.0"
sphinx-rtd-theme = "^0.5.1"
jupyter-sphinx = "^0.2.3"
sphinxcontrib-apidoc = "^0.4.0"
nbsphinx = "^0.9.3"
numpydoc = "^1.6.0"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/AstarVienna/ScopeSim_Templates/issues"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "--strict-markers"
markers = [
    "webtest: marks tests as requiring network (deselect with '-m \"not webtest\"')",
]

[tool.coverage.report]
omit = ["scopesim_templates/tests/*"]
