numpy>=1.17
scipy
matplotlib
astropy

requests
pyyaml
synphot
photutils

git+https://github.com/AstarVienna/ScopeSim.git@dev_master
pyckles
spextra
skycalc_ipy

numpydoc
sphinxcontrib-apidoc
sphinx==2.4
